.book-list {
  padding: 0.75rem;
}

.new-book-form form {
  display: flex;
  align-items: center;
}

.new-book-form .form-group {
  margin-right: 0.75rem;
}

.book-cards {
  display: flex;
  flex-wrap: wrap;
}

.book-listing {
  background-color: white;
  padding: 3rem;
  margin: 1.25rem;
  border-radius: 5px;
  border: 1px solid $medium-gray;
}

.book-name {
  font-size: 2em;
  letter-spacing: 0.1em;
}
