.expander {
  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;


  .expander-trigger {
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: $expander-toggle-size;
    text-decoration: none;
  }

  .expander-content p {
    color: $base-font-color;
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}
