body {
  font-color: #4a4a4a;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5rem; }

h1, h2, h3, h4 {
  line-height: 1.2rem;
  letter-spacing: 0.1rem; }

label, input {
  display: block; }

label {
  margin-bottom: 0.25rem; }

.form-group {
  margin-bottom: 0.75rem; }

select,
textarea,
input[type="tel"],
input[type="date"],
input[type="text"],
input[type="password"] {
  border: 1px solid #9b9b9b;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 0.5rem; }
  select:hover,
  textarea:hover,
  input[type="tel"]:hover,
  input[type="date"]:hover,
  input[type="text"]:hover,
  input[type="password"]:hover {
    border-color: shade(#9b9b9b, 20%); }
  select:focus,
  textarea:focus,
  input[type="tel"]:focus,
  input[type="date"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #6d79d3;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(89, 103, 205, 0.7);
    outline: none; }
  select:disabled,
  textarea:disabled,
  input[type="tel"]:disabled,
  input[type="date"]:disabled,
  input[type="text"]:disabled,
  input[type="password"]:disabled {
    background-color: shade(#d5d5d5, 5%);
    cursor: not-allowed; }
    select:disabled:hover,
    textarea:disabled:hover,
    input[type="tel"]:disabled:hover,
    input[type="date"]:disabled:hover,
    input[type="text"]:disabled:hover,
    input[type="password"]:disabled:hover {
      border: 3px; }

.button, button {
  color: white;
  font-size: 1.2em;
  background-color: #6d79d3;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3px;
  cursor: pointer; }
  .button:hover, button:hover {
    background-color: #354296; }
  .button:focus, button:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(89, 103, 205, 0.7);
    outline: none; }

.button-small {
  font-size: 0.9em; }

.expander .expander-trigger {
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-bottom: 1em;
  text-decoration: none; }

.expander .expander-content p {
  color: #4a4a4a; }

.expander .expander-hidden + .expander-content {
  display: none; }

.sign-in-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center; }

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  background-color: #6d79d3;
  color: white; }

.signout-link {
  cursor: pointer;
  padding-left: 1rem; }

.clear-current-book-link {
  cursor: pointer; }

.book-list {
  padding: 0.75rem; }

.new-book-form form {
  display: flex;
  align-items: center; }

.new-book-form .form-group {
  margin-right: 0.75rem; }

.book-cards {
  display: flex;
  flex-wrap: wrap; }

.book-listing {
  background-color: white;
  padding: 3rem;
  margin: 1.25rem;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  cursor: pointer; }

.book-name {
  font-size: 2em;
  letter-spacing: 0.1em; }

.book-view-container h2 {
  margin: 0;
  padding: 0.75rem 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #9b9b9b; }

.book-view {
  background-color: white;
  height: 100vh;
  display: flex; }

.note-list, .note-editor {
  border-right: 1px solid #9b9b9b; }

.note-list {
  order: 1;
  flex: 0 1 12%; }

.note-editor {
  order: 2;
  flex: 0 1 44%; }

.note-view {
  order: 3;
  flex: 0 1 44%; }

.note-listing {
  text-align: center;
  border-top: 1px solid #9b9b9b;
  padding: 1em;
  font-size: 1.3em;
  cursor: pointer; }

.note-listing:hover {
  background-color: #ddd; }

.note-list .expander {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.note-editor textarea {
  height: 100vh;
  width: 100%;
  border: none; }

body {
  background-color: #d5d5d5;
  margin: 0; }

.hidden {
  display: none; }
