body {
  font-family: sans-serif; }

h2 {
  letter-spacing: 0.5rem; }

label, input {
  display: block; }

label {
  margin-bottom: 0.5rem; }

.form-group {
  margin-bottom: 1rem; }

.sign-in-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center; }
